@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global */

body {
  @apply selection:bg-primary selection:text-base-100
}

img {
  @apply selection:bg-transparent;
  -webkit-user-drag: none;
}


/* Typography */

h1, h2, h3, h4, h5 {
  @apply font-bold text-black dark:text-base-content
}

h2 {
  @apply text-2xl md:text-4xl
}

.text-default {
  @apply text-black dark:text-base-content
}


/* General */
.nav-desktop .active {
  @apply font-bold after:content-[""] 
  after:block after:h-[4px] after:w-10 after:mx-auto after:bg-primary after:inset-0 after:translate-y-[1.25rem] after:rounded after:border-2 dark:after:border-0 after:border-base-100 after:box-content
}

.nav-mobile .active {
  @apply font-bold text-white bg-base-300 dark:text-primary !important
}

.heroImg {
  @apply bg-[url("../utils/images/heroimg.png")] bg-no-repeat bg-contain bg-center;
  background-size: auto auto;
}

/* .mbtn {
  @apply btn border-2 border-base-300 
  hover:border-base-300
} 
.mbtn-ghost {
  @apply btn-ghost text-black border border-2 hover:border-base-300 hover:bg-transparent dark:text-gray-300
}
  
*/

.mbtn-primary {
  @apply btn-primary text-white dark:text-base-100
}

.mbtn-secondary {
  @apply btn-secondary text-white dark:text-base-content
}


.footer .navHeader {
  @apply tracking-widest uppercase font-bold
}

.footer .navLink {
  @apply link link-hover tracking-wider text-gray-300 hover:text-primary dark:text-gray-300 dark:hover:text-primary capitalize
}

.autoWidth {
  @apply max-w-full md:max-w-[90%] mx-auto px-4 md:px-0
}

.disableImgDrag {
  @apply after:content-[""] after:block  after:absolute after:h-full after:w-full after:top-0
}


/* Medai Queries */



/* This media querie was created to target screen smaller than tailwinds sm: */

@media (max-width: 639px) {
  .heroInputForm {
    @apply max-w-[90%] mx-auto
  }

  .heroInputFormContainer {
    @apply gap-5 p-1
  }

  .heroInputSM {
    @apply input input-bordered
  }

  .heroInputDivider {
    @apply hidden
  }
}